# [client]セクション: MySQLクライアントプログラムの設定
[client]
default-character-set = utf8mb4  # クライアントのデフォルト文字セットをutf8mb4に設定

# [mysqld]セクション: MySQLサーバ自体の設定
[mysqld]
character-set-server = utf8mb4  # サーバのデフォルト文字セットをutf8mb4に設定
collation-server = utf8mb4_general_ci  # サーバのデフォルト照合順序をutf8mb4_general_ciに設定 (大文字小文字区別なし)
innodb-use-native-aio = 0  # LinuxでのInnoDBのネイティブ非同期I/Oを無効化
require_secure_transport = OFF  # セキュアな接続のみ要求する設定をOFFに設定

# STARTからENDまで: レプリケーションやポイントインタイムリカバリー関連の設定
# binary-log: レプリケーションやデータ変更を記録するバイナリログを有効化
log_bin = mysql-bin  # バイナリログファイルのプレフィックスをmysql-binとする
# server-id: サーバの一意のIDを設定 (レプリケーションで必要)
server_id = 0000000001  # サーバIDを0000000001に設定

# [mysql]セクション: mysqlコマンドラインクライアントの設定
[mysql]
prompt = '(master) [\\d] > '  # コマンドラインプロンプトをカスタマイズ (現在のデータベース名を表示)
